*.Plo
*.Po
*.a
*.elc
*.la
*.lai
*.lo
*.o
.gdb_history
/Makefile.in
/acconf.h.in
/aclocal.m4
/config.guess
/config.sub
/configure
/configure.in~
/depcomp
/elisp-comp
/install-sh
/ltmain.sh
/missing
Makefile
UnitTests
acconf.h
acconf.h.in~
autom4te.cache
config.log
config.status
elc-stamp
ledger
libtool
pending
stamp-h1
utils
