[submodule "lib/boost"]
	path = lib/boost
	url = git://repo.or.cz/boost.git
[submodule "lib/gdtoa"]
	path = lib/gdtoa
	url = git://github.com/jwiegley/gdtoa.git
[submodule "lib/cppunit"]
	path = lib/cppunit
	url = git://github.com/jwiegley/cppunit.git
[submodule "lib/libofx"]
	path = lib/libofx
	url = git://newartisans.com/libofx.git
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = git://github.com/jwiegley/utfcpp.git
