*.[oa]
*.aux
*.cp
*.dSYM
*.elc
*.fn
*.ky
*.la
*.lo
*.loT
*.log
*.o
*.pg
*.pkg
*.pyc
*.tar.bz2
*.tar.gz
*.toc
*.tp
*.vr
*~
.deps/
.libs/
.svn
/.deps
/.libs
/3.0
/AUTHORS
/AUTHORS
/COPYING
/ChangeLog
/Doxyfile.gen
/INSTALL
/Makefile
/Makefile.in
/PyUnitTests
/RegressionTests
/TAGS
/UnitTests
/acconf.h
/acconf.h.in
/acconf.h.in~
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.in
/depcomp
/doc/*.info
/doc/*.pdf
/doc/.dirstamp
/doc/Doxyfile.bak
/doc/Doxyfile.gen
/doc/html
/doc/latex
/elc-stamp
/elisp-comp
/install-sh
/ledger
/ledger-*/
/ledger.info
/ledger.so
/libtool
/ltmain.sh
/make.deps
/missing
/pending
/stamp-h1
/system.hh.gch
/texinfo.tex
/version.m4
