*.elc
*.pyc
*~
/ABOUT-NLS
/Makefile.in
/TAGS
/acconf.h.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h.in
/config.rpath
/config.sub
/configure
/depcomp
/elisp-comp
/install-sh
/intl/
/ledger
/ltmain.sh
/m4/
/make.sh
/missing
/po/
/py-compile
/src/system.hh.gch
/texinfo.tex
/version.m4

*.[oa]
*.l[oa]
/*.tar.bz2
/*.tar.gz
/.deps/
/.libs/
/BaselineTests
/Doxyfile.gen
/Makefile
/PyUnitTests
/RegressionTests
/config.h
/config.log
/config.status
/data_tests
/doc/.dirstamp
/doc/html/
/doc/latex/
/doc/ledger.info
/doc/refman.pdf
/doc/report/
/expr_tests
/libtool
/math_tests
/report_tests
/shave
/shave-libtool
/stamp-h1
/test/python/
/util_tests
