# NOTE: Please validate this file after editing it using
#       Travis WebLint https://lint.travis-ci.org/
#       or travis-lint https://github.com/travis-ci/travis-lint

language: cpp
compiler:
  - gcc
os:
  - linux
  - osx
dist:
  - bionic
osx_image: xcode11.2
sudo: false
cache:
  apt: true

env:
  global:
      # List of required boost libraries to build
    - BOOST_LIBS="date_time,filesystem,iostreams,python,regex,system,test"
      # Encrypted COVERITY_SCAN_TOKEN
    - secure: "mYNxD1B8WNSvUeKzInehZ7syi2g1jH2ymeSQxoeKKD2duq3pvNWPdZdc4o9MlWQcAqcz58rhFZRIpuEWCnP0LbbJaG+MyuemMn9uAmg9Y4gFpMsBPHuTdf8pO3rDex+tkrr9puEJFgL+QV/TehxO6NDDpx7UdYvJb+4aZD/auYI="
  jobs:
    - PY_MAJOR=2
    - PY_MAJOR=3

addons:
  coverity_scan:
    project:
      name: "ledger/ledger"
      description: "Build submitted via Travis CI"
    build_command_prepend: "cmake . -DUSE_PYTHON=ON -DBUILD_DEBUG=ON -DCLANG_GCOV=ON -DPython_FIND_VERSION_MAJOR=${PY_MAJOR}"
    build_command: "make"
    branch_pattern: coverity
  apt:
    packages:
      - libgmp-dev
      - libmpfr-dev
      - libedit-dev
      - libboost-dev
      - libboost-test-dev
      - libboost-regex-dev
      - libboost-python-dev
      - libboost-system-dev
      - libboost-date-time-dev
      - libboost-iostreams-dev
      - libboost-filesystem-dev
      - libboost-serialization-dev
  homebrew:
    update: true
    packages:
      - boost
      - boost-python
      - boost-python3
      - gmp
      - mpfr

before_script:
  # On macOS boost-python packaging is broken
  - if [ "$TRAVIS_OS_NAME" = osx ]; then EXTRA_CMAKE_ARGS="-DBoost_NO_BOOST_CMAKE=ON"; fi
  - cmake . -DUSE_PYTHON=ON -DPython_FIND_VERSION_MAJOR=${PY_MAJOR} -DBUILD_DEBUG=ON $EXTRA_CMAKE_ARGS
  - make VERBOSE=1

script:
  - ctest --output-on-failure
  - PYTHONPATH=. `cmake -LA . | sed -n 's/Python_EXECUTABLE:FILEPATH=//p'` python/demo.py

notifications:
  email:
    on_success: change
    on_failure: change
  irc:
    channels: [ "chat.freenode.net#ledger" ]
    on_success: change
    on_failure: change
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0050d91909a8cde39e35
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

