name: Lint

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  lint-check:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install build dependencies
        run: |
          sudo apt-get update -y
          sudo ./acprep dependencies

      - name: Install clang-18 and cppcheck
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 18
          sudo apt-get install -y clang-format-18 clang-tidy-18 cppcheck
          sudo ln -sf /usr/bin/clang-format-18 /usr/local/bin/clang-format
          sudo ln -sf /usr/bin/clang-tidy-18 /usr/local/bin/clang-tidy

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
            -DPython_FIND_VERSION_MAJOR=3

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config Debug

      - name: Run lint
        run: |
          cmake --build ${{github.workspace}}/build --target lint
